In [3]:
# importing Modules 

import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('../1_Dataset/Salary_Data.csv')

In [5]:
df.head(10)

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0
5              2.9  56642.0
6              3.0  60150.0
7              3.2  54445.0
8              3.2  64445.0
9              3.7  57189.0

In [6]:
# i want to build a simple linear regresion ML model

In [7]:
# importing of my ML Modules 

from sklearn.model_selection import train_test_split # Train-Test module 
from sklearn.linear_model import LinearRegression # ML algor
from sklearn.metrics import mean_squared_error, r2_score # acuuracy and metric cal

In [8]:
df.columns

Index(['YearsExperience', 'Salary'], dtype='object')

In [9]:
# target Col/variable ---> y ---> Salary 
# Feature col / varibale --> X ----> YearsExperience 
# in this case , if only 2col , then linear , if multiple then multiple regrssion or logistic or polynomial

In [10]:
# Splitting the data into features (X) and target variable (y)
X = df[['YearsExperience']]
y = df['Salary']

In [11]:
df.count()

YearsExperience    30
Salary             30
dtype: int64

In [12]:
X

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [13]:
y

0      39343.0
1      46205.0
2      37731.0
3      43525.0
4      39891.0
5      56642.0
6      60150.0
7      54445.0
8      64445.0
9      57189.0
10     63218.0
11     55794.0
12     56957.0
13     57081.0
14     61111.0
15     67938.0
16     66029.0
17     83088.0
18     81363.0
19     93940.0
20     91738.0
21     98273.0
22    101302.0
23    113812.0
24    109431.0
25    105582.0
26    116969.0
27    112635.0
28    122391.0
29    121872.0
Name: Salary, dtype: float64

In [14]:
X.count()

YearsExperience    30
dtype: int64

In [15]:
y.count()

30

In [16]:
# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [17]:
X_train.count()

YearsExperience    24
dtype: int64

In [18]:
X_test.count()

YearsExperience    6
dtype: int64

In [19]:
y_train.count()

24

In [20]:
y_test.count()

6

In [21]:
# once your train and test is ready , then we directly apply the alog , under model

In [22]:
# Creating a linear regression model
model = LinearRegression() # defining my model under the linear regression

In [23]:
# train my model 

model.fit(X_train, y_train)

LinearRegression()

In [24]:
# the standard process is , once the model is trained on Train datset , it 
# is usually tested , on the test data and then we just get a simple accuracy of the model

In [25]:
# Making predictions on the test set
y_pred = model.predict(X_test)

In [26]:
# once the y_pred is got by calucating the model predict on X_test 
# y_pred and y_test are compared to find our model accuracy

In [27]:
# Evaluating the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print('Mean Squared Error:', mse)
print('R-squared:', r2)

Mean Squared Error: 49830096.85590839
R-squared: 0.9024461774180497

In [28]:
# ok now my model is trained , how do i predict for a new value

In [29]:
# Assuming 'model' is your trained linear regression model

# New value for 'YearsExperience' that you want to predict
new_experience = np.array([2.0]).reshape(-1, 1)
# Predicting the salary for the new value
predicted_salary = model.predict(new_experience)

print('Predicted Salary for 2.0 years of experience:', predicted_salary[0])

Predicted Salary for 2.0 years of experience: 44169.213657838765

/usr/local/lib/python3.10/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [30]:
# Assuming 'model' is your trained linear regression model

# New value for 'YearsExperience' that you want to predict
new_experience = np.array([3.8]).reshape(-1, 1)
# Predicting the salary for the new value
predicted_salary = model.predict(new_experience)

print('Predicted Salary for 3.8 years of experience:', predicted_salary[0])

Predicted Salary for 3.8 years of experience: 61132.08123929452

/usr/local/lib/python3.10/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [31]:
# Assuming 'model' is your trained linear regression model

# New value for 'YearsExperience' that you want to predict
new_experience = np.array([10.4]).reshape(-1, 1)
# Predicting the salary for the new value
predicted_salary = model.predict(new_experience)

print('Predicted Salary for 10.4 years of experience:', predicted_salary[0])

Predicted Salary for 10.4 years of experience: 123329.26237129897

/usr/local/lib/python3.10/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [32]:
# Assuming 'model' is your trained linear regression model

# New value for 'YearsExperience' that you want to predict
new_experience1 = np.array([14.0]).reshape(-1, 1)
new_experience2 = np.array([7.7]).reshape(-1, 1)
new_experience3 = np.array([4.5]).reshape(-1, 1)
# Predicting the salary for the new value
predicted_salary1 = model.predict(new_experience1)
predicted_salary2 = model.predict(new_experience2)
predicted_salary3 = model.predict(new_experience3)

print('Predicted Salary for 14 years of experience:', predicted_salary1[0])
print('Predicted Salary for 7.7 years of experience:', predicted_salary2[0])
print('Predicted Salary for 4.5 years of experience:', predicted_salary3[0])

Predicted Salary for 14 years of experience: 157254.99753421047
Predicted Salary for 7.7 years of experience: 97884.96099911534
Predicted Salary for 4.5 years of experience: 67728.75196541622

/usr/local/lib/python3.10/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
/usr/local/lib/python3.10/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
/usr/local/lib/python3.10/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(