In [27]:
import pandas as pd
import numpy as np

In [28]:
df = pd.read_csv('../1_Dataset/Salary_Data.csv')
df.head(10)

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0
5              2.9  56642.0
6              3.0  60150.0
7              3.2  54445.0
8              3.2  64445.0
9              3.7  57189.0

In [29]:
# Import ML Modules
from sklearn.model_selection import train_test_split # To split the data into train and test data
from sklearn.linear_model import LinearRegression # ML Algorithm
from sklearn.metrics import mean_squared_error # To check the accuracy of the model 
from sklearn.metrics import r2_score # To check the accuracy of the model

In [30]:
df.columns

Index(['YearsExperience', 'Salary'], dtype='object')

In [31]:
# target variable is Salary
# Feature variable is YearsExperience

In [32]:
# Assign Feature and target variable X & Y
X = df[['YearsExperience']]
Y = df[['Salary']]

In [33]:
df.count()

YearsExperience    30
Salary             30
dtype: int64

In [34]:
X.count()

YearsExperience    30
dtype: int64

In [35]:
Y.count()

Salary    30
dtype: int64

In [36]:
# Splitting the data into train and test data
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [37]:
x_train.count()

YearsExperience    24
dtype: int64

In [38]:
y_train.count()

Salary    24
dtype: int64

In [39]:
x_test.count()

YearsExperience    6
dtype: int64

In [40]:
y_test.count()

Salary    6
dtype: int64

In [41]:
# Create an object of LinearRegression
lr = LinearRegression()

In [42]:
# Train the model
lr.fit(x_train, y_train)

LinearRegression()

In [43]:
# Predict the model on test data using feature variable
y_pred = lr.predict(x_test)

In [45]:
# Using y_pred, and y_test Check the accuracy of the model using mean_squared_error and r2_score 
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error: ", mse)
print("R2 Score: ", r2)

Mean Squared Error:  49830096.85590839
R2 Score:  0.9024461774180497

In [51]:
new_experience = np.array([2.0]).reshape(-1,1)
predicted_salary = lr.predict(new_experience)
print("Predicted Salary: ", predicted_salary)

Predicted Salary:  [[44169.21365784]]

/usr/local/lib/python3.10/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [52]:
new_experience = np.array([3.8]).reshape(-1, 1)
predicted_salary = lr.predict(new_experience)
print("Predicted Salary: ", predicted_salary)

Predicted Salary:  [[61132.08123929]]

/usr/local/lib/python3.10/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [56]:
new_experience = np.array([10.4]).reshape(-1, 1)
predicted_salary = lr.predict(new_experience)
print("Predicted Salary: ", predicted_salary)

Predicted Salary:  [[123329.2623713]]

/usr/local/lib/python3.10/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(